<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">{% block form_style %}{% endblock %}</style>
    <title>Site Name</title>
</head>
<body>
    <div>
        <h1>Заголовок 1</h1>
        <h2>меню сайта</h2>
        <ul>
            <li><a href="http://127.0.0.1:8000/">главная</a></li>
            <li><a href="http://127.0.0.1:8000/about/">о нас</a></li>
            <li><a href="http://127.0.0.1:8000/contact/">контакты</a></li>
        </ul>
    </div>
    <div>
    {% block index %}
    {% endblock %}

    {% block form %}
    {% endblock %}

    </div>
    <div>
        <h2>footer</h2>
    </div>
</body>
</html>