{% extends "base.html" %}
{% block form %}
    <form  action="" method="post">
        <h3>Форма для заполнения данных:</h3>
        <label>
            <input type="text" name="firstname" placeholder="firstname">
            <input type="text" name="lastname" placeholder="lastname">
            <input type="tel" name="tel" placeholder="tel: +7(000)000-0000">
            <input type="email" name="e-mail" placeholder="e-mail">
            <textarea type="text" name="text" rows="10" ></textarea>
        </label>
        <input id="submit" type="submit">
     </form>
{% endblock %}